.card__left-side__download-cv {
  margin-top: 15%;

  width: 43.5%;
  height: 7.5%;

  border: 2px solid var(--border-color);
  border-radius: 40px;
  background: var(--left-side-main-theme);

  font-size: 17px;
  color: var(--font-color);
}

.card__change-theme {
  top: 10%;
  left: 87%;

  width: 65px;
  height: 17px;

  border-radius: 30px;
  background: var(--theme-change-strip-color);
}

.card__change-theme__slider {
  top: -15%;

  width: 35%;
  height: 140%;

  background: var(--left-side-main-theme);
  border-radius: 30px;
}
