:root {
  --default-left-side-main-theme: #444444;
  --default-right-side-main-theme: #222222;
  --default-font-color: white;
  --default-border-color: white;
  --default-theme-change-strip-color: dodgerblue;
  --default-avatar-shadow-color: gray;
}
