:root {
  --light-left-side-main-theme: #F0F8FF;
  --light-right-side-main-theme: #5F9EA0;
  --light-font-color: black;
  --light-border-color: black;
  --light-theme-change-strip-color: gray;
  --light-avatar-shadow-color: #8FBC8F;
}
