.card__right-side {
  height: 100%;
}

.card__right-side {
  width: 66%;
  background: var(--default-right-side-main-theme);
  border-radius: 30px;
}

.card__right-side__name {
  font-size: 3.87em;
}

.card__right-side__profession {
  margin-top: 2%;
  font-size: 1.37em;
}
