.card__left-side {
  height: 100%;
}

.card__left-side {
  width: 34%;
}

.card__left-side__name {
  margin-top: 10%;
  font-size: 2.37em;
}

.card__left-side__profession {
  margin-top: 2%;
  font-size: 1.25em;
}

.card__left-side__contacts {
  margin-top: 3%;
  width: 24%;
}

.card__left-side__copyright {
  margin-top: 17%;
  font-size: 0.81em;
}
