.dark:root {
  --all-page-main-theme: #C0C0C0;
  --left-side-main-theme: #444444;
  --right-side-main-theme: #222222;
  --font-color: white;
  --border-color: white;
  --theme-change-strip-color: dodgerblue;
  --avatar-shadow-color: gray;
}
