.card__left-side__download-cv {
  margin-top: 15%;

  width: 43.5%;
  height: 7.5%;

  border: 2px solid var(--default-border-color);
  border-radius: 40px;
  background: var(--default-left-side-main-theme);

  font-size: 17px;
  color: var(--default-font-color);
}

.card__change-theme {
  top: 10%;
  left: 87%;

  width: 65px;
  height: 17px;

  border-radius: 30px;
  background: var(--default-theme-change-strip-color);
}

.card__change-theme__slider {
  top: -15%;
  left: 80%;

  width: 35%;
  height: 140%;

  background: var(--default-left-side-main-theme);
  border-radius: 30px;
}
