body {
  width: 100vw;
  height: 100vh;

  font-family: Helvetica, sans-serif;
}

.card {
  width: 1127px;
  height: 595px;

  color: var(--default-font-color);
  background: var(--default-left-side-main-theme);
  border-radius: 30px;
}
