body {
  width: 100vw;
  height: 100vw;
  background: #C0C0C0;
  color: white;
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  background: #222222;
  border-radius: 30px;
}

.skills__header {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  margin: 2% 0 0 5%;
}

.skills__header__text {
  display: block;
  margin: 0 0 0 10%;
}

.skills__header__add-skill {
  display: block;
  margin: 0 0 0 250%;
}

.skills__header__form {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20%;
}

.skills__header__form__name,
.skills__header__form__ratio {
  border-radius: 30px;
  color: yellow;
  background: black;
  height: 30px;
  width: 100px;
}

.skills__header__form__ratio {
  margin-top: 8%;
}

.skills__header__add-skill {
  background: url("plus.svg") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  align-self: flex-end;
  margin: 5% 30%;
}
